VITE_CONTRACT_ADDRESS=
VITE_CHAIN_ID=8453
VITE_MAINNET_RPC_URL=
PLUNDRIX_AGENT_SERVICE_URL=
PLUNDRIX_WORKER_HOST=
PLUNDRIX_OPERATOR_ADDRESS=
PLUNDRIX_ROLLBACK_OWNER=
PLUNDRIX_FEE_DISABLED=true
PLUNDRIX_START_PAUSED=true
PLUNDRIX_AUTO_RESOLVE_ENABLED=true
PLUNDRIX_AUTO_RESOLVE_DELAY=300
PLUNDRIX_REQUIRE_EXTERNAL_ENTROPY=true
